<config>
    <modules>
        <SY_Action>
            <version>0.1.2</version>
        </SY_Action>
    </modules>
    <frontend>
        <routers>
            <actions>
                <use>standard</use>
                <args>
                    <module>SY_Action</module>
                    <frontName>actions</frontName>
                </args>
            </actions>
        </routers>
        <layout>
            <updates>
                <actions>
                    <file>sy_action.xml</file>
                </actions>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <sycron>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>action/sycron::crontask</model>
                </run>
            </sycron>
        </jobs>
    </crontab>
    <global>
        <models>
            <action>
                <class>SY_Action_Model</class>
                <resourceModel>action_resource</resourceModel>
            </action>
            <action_resource>
                <class>SY_Action_Model_Resource</class>
                <entities>
                    <action>
                        <table>sy_action</table>
                    </action>
                    <products>
                        <table>sy_actions_products</table>
                    </products>
                </entities>
            </action_resource>
        </models>
        <resources>
            <action_setup>
                <setup>
                    <module>SY_Action</module>
                </setup>
            </action_setup>
        </resources>
        <blocks>
            <sy_action>
                <class>SY_Action_Block</class>
            </sy_action>
        </blocks>
        <helpers>
            <sy_action>
                <class>SY_Action_Helper</class>
            </sy_action>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
               <args>
                    <modules>
                        <sy_action before="Mage_Adminhtml">SY_Action_Adminhtml</sy_action>
                    </modules>
               </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sy_action>
                    <file>sy_action.xml</file>
                </sy_action>
            </updates>
        </layout>
    </adminhtml>
</config>