/.settings/
/.buildpath
/.project
/*.kdev4
/.directory
/.externalToolBuilders
/.metadata

/app/etc/local.xml
/app/etc/local.xml.phpunit
/var/
/media/*
.DS_Store
allo.sql
app/code/local/Oggetto/Import/
app/etc/modules/Oggetto_Import..xml
dumpNot1jul2011.sql
dumpNut1jul.tar.gz
*.db
*.db:e*
.idea/
mage_unit.sh
app/code/local/Mage/Core/Model/Resource.php
app/code/local/Varien/Profiler.php
app/code/community/Wee/
app/code/local/Wee/
app/design/adminhtml/default/default/layout/wee_developertoolbar.xml
app/design/adminhtml/default/default/template/wee_developertoolbar/
app/design/frontend/enterprise/default/layout/wee_developertoolbar.xml
app/design/frontend/enterprise/default/template/wee_developertoolbar/
app/etc/modules/Wee_Base.xml
app/etc/modules/Wee_DeveloperToolbar.xml
js/wee_developertoolbar/
app/etc/config.xml
*.tmproj
/nbproject/
/nbproject/private/
errors/local.xml
skin/frontend/enterprise/allo/js/translator_for_seo.js
/test*.php
test_1.php
test_2.php
robots_mobile.txt
local.xml.*
.sass-cache
social_sprite.pdn
favicon.ico

/.htaccess
/sitemap.xml
/parallels/out.txt
/map
/development/phpMyAdmin
/.modman
/app/etc/local.xml.backup
/app/etc/local.xml.current
/app/etc/local.xml.new
/.externalToolBuilders
/downloader/.cache
/downloader/cache.cfg
/downloader/connect.cfg
/skin/frontend/enterprise/allov2/js/translator_Rus.min.js
/skin/frontend/enterprise/allov2/js/translator_Ua.min.js
SCHEMA.INI