<?xml version="1.0"?>

<config>
    <modules>
        <Tsg_Imgimport>
            <version>0.1.0</version>
        </Tsg_Imgimport>
    </modules>
    <global>
        <blocks>
            <tsg_imgimport>
                <class>Tsg_Imgimport_Block</class>
            </tsg_imgimport>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>Tsg_Imgimport_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <tsg_imgimport>
                <class>Tsg_Imgimport_Model</class>
                <resourceModel>tsg_imgimport_resource</resourceModel>
            </tsg_imgimport>
            <tsg_imgimport_resource>
                <class>Tsg_Imgimport_Model_Resource</class>
                <entities>
                    <imgimport>
                        <table>tsg_imgimport_items</table>
                    </imgimport>
                </entities>
            </tsg_imgimport_resource>
        </models>
        <resources>
            <tsg_imgimport_setup>
                <setup>
                    <module>Tsg_Imgimport</module>
                </setup>
            </tsg_imgimport_setup>
        </resources>
        <helpers>
            <tsg_imgimport>
                <class>Tsg_Imgimport_Helper</class>
            </tsg_imgimport>
        </helpers>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_import_button>
                        <class>tsg_imgimport/observer</class>
                        <method>addImportButton</method>
                    </add_import_button>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tsg_imgimport before="Mage_Adminhtml">Tsg_Imgimport_Adminhtml</tsg_imgimport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tsg_imgimport>
                    <file>tsg_imgimport.xml</file>
                </tsg_imgimport>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <tsg_importcron>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>tsg_imgimport/importcron::crontask</model>
                </run>
            </tsg_importcron>
            <tsg_retrycron>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>tsg_imgimport/importcron::retrytask</model>
                </run>
            </tsg_retrycron>
        </jobs>
    </crontab>
</config>